# 忽略 node_modules（Vue 3 前端相关）
node_modules
dist
!.env

# 忽略 Python 项目中的虚拟环境和编译文件
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# 忽略日志文件
*.log
*.log.*

# 忽略环境配置文件
.env
*.env

# 忽略版本控制文件夹
.git
.gitignore

# 忽略backend中data下的app.db，但不忽略data文件夹
backend/data/*
!backend/data/

# 忽略botmanager下的configs文件夹中的内容，但不忽略configs文件夹
backend/botmanager/configs/*
!backend/botmanager/configs/
