# 前端部分
# 忽略 cow-webui-vite/dist 目录
cow-webui-vite/dist/

# 忽略 .vscode 目录下的所有内容
cow-webui-vite/.vscode/

# 忽略 .idea 目录下的所有内容
cow-webui-vite/.idea/

# 忽略 .DS_Store 文件
cow-webui-vite/.DS_Store

# 忽略 node_modules 目录下的所有内容
cow-webui-vite/node_modules/

# 忽略 .env.production 文件
cow-webui-vite/.env.production

nuxt-ui-pro-landing

.idea
.vscode/*
templates/config-template.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
configs
node_modules
dist
data/bots.json
.env.production
config-template.json

dist-ssr
*.local
nohup.out
myvenv
venv
# Editor directories and files

!.vscode/extensions.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
__pycache__