# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
configs
node_modules
dist
.env.production
config-template.json
cow-webui-vite/.vscode/*
cow-webui-vite/dist
dist-ssr
*.local
nohup.out
myvenv
venv
# Editor directories and files
.vscode/*
!.vscode/extensions.json
cow-webui-vite/.idea
cow-webui-vite/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
